:root {
    --pink: hsl(338, 70%, 55%);
    --teal: hsl(183, 70%, 62%);
    --white: hsl(334, 7%, 95%);
}

html,
body {
    margin: 0;
    padding: 0;
}


.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #121212;
}

.app-left {
    width: 350px;
    border-right: 0.25px solid #222;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-right {
    flex-grow: 1;
    height: 100%;
    display: flex;
    padding: 12px;
    box-sizing: border-box;
}

.app-right>.container {
    border-radius: 32px;
    background: #fff;
    width: 100%;
    height: 100%;
    background-image: url('/img/clouds.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: start;
    padding-left: 72px;
    align-items: center;
    display: flex
}

.user-card {
    width: 250px;
    height: 500px;
    left: -100px;
    border: 4px solid #000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 32px;
    transform: perspective(2000px) rotateY(20deg) rotateX(20deg);
}


#card-pre {
    font-size: 3rem;
    font-weight: bold;
    font-family: inherit;
    color: #000;
    background: #FAF9F6;
    padding: 2rem;
    border-radius: 1rem;
    width: 5px;
    font-family: "Consolas";
    transform-style: preserve-3d;
    transform: perspective(3000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
}

#card-pre>* {
    margin-block: 0;
}

#card-pre::before,
#card-pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

pre {

    font-size: 36px;
    background: #242323;
    border-radius: 20px;
    padding: 24px;
    color: #fff;
}

.selector {
    color: var(--pink);
}

.property {
    color: var(--teal);
}

.punctuation {
    color: var(--pink);
}

.property+.punctuation {
    color: var(--pink);
}

/* shadow */
#card-pre::before {
    inset: 0.75rem;
    border-radius: inherit;
    background: black;
    z-index: -1;
    transform: translateZ(-50px);
    filter: blur(15px);
    opacity: 0.5;
}

/* gradient thingy */
#card-pre::after {
    z-index: -2;
    inset: -1rem;
    background: linear-gradient(-45deg, rgb(255, 248, 36), rgb(255, 244, 37));
    transform: translateZ(-50px);
}



.pre-container {
    position: relative;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}